{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container" style="width: 100vw; height: 100vh">
            <img src="{{ get_youtube_thumbnail(videoId) }}" alt="youtube_thumbnail" style="width: 15vw;position:relative"/>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {#if you include jquery here, the scripts that need jquery will fail because jquery exists since this point !#}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var img = $('#container img');
            var phase = true;
            var width = $('#container').width() - img.width();
            var height = $('#container').height() - img.height();

            setInterval(function(){
                var distance = Math.floor(Math.random() * 100);
                var sideLength = Math.floor(Math.random() * 100) * 2 + 20;
                if (phase) {
                    var str = (width / 100 * distance) + 'px';
                    img.animate({left: str}, 500);
                    img.animate({width: sideLength}, 500);
                }
                else {
                    var str = (height/ 100 * distance) + 'px';
                    img.animate({top: str}, 500);
                    img.animate({height: sideLength}, 500);
                }
                changeThumbnail();
                ++phase;
                phase %= 3;
            }, 500)

            function changeThumbnail()
            {
                var src = $('#container img').attr('src');
                var random = Math.floor(Math.random() * 3);
                src = src.substr(0, src.length - 5) + random + src.substr(src.length - 4);
                $('#container img').attr('src', src);
            }
        })
    </script>

{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
